# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 953737d0cab207a6977b87775abb0429919443fee7f49d3eb07a9fe67f2e58328a92256548f8fd44fd8cd0421392e8071e9a39965acc4df0022676ce3634290b
  database:
    :host: localhost
    :port: 3306
    :name: migro_dev
    :username: migro
    :password: password

test:
  secret_key_base: 169182706bf3815f927e872f5203dd414c1e07bd7506e39da012ad66e9234707bafe6609e108fa37375b576dae4a3f0cea40469818aedc02a4a9faab81095c8f
  database:
    :host: localhost
    :port: 3306
    :name: migro_test
    :username: migro
    :password: password

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: #rake secret
  database:
    :host: localhost
    :port: 3306
    :name: migro_prod
    :username: migro
    :password: #password
  host_url: localhost.localdomain
  smtp:
    :host: localhost
    :port: 587
    :domain: localhost.localdomain
    :user: user
    :password: password